Makefile

#binarios
sgi.app
sgi

#make out
app.o
displayfile.o
formas.o
mainwindow.o
moc_mainwindow.cpp
moc_mainwindow.o
ui_mainwindow.h
viewport.o
window.o

#tem um .cpp e .h ai, mas são output do make
*.o
